<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd"> 
<html> 
    <head> 
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/> 
        <title>Геннадий Злобин - Главная страница</title> 
        <link href="2009.css" type="text/css" rel="stylesheet"></link> 
<script type="text/javascript" src="/static/js/jquery.js"></script>
    </head> 
    <body> 
        <h1>Gennadiy Zlobin - Personal Home Page</h1>        
        <h3>About me</h3>
        Hi all! Nice to see you here. My name is Gennadiy Zlobin.


        <div>My project</div>
        <div>Resume</div>
        <div>My bio</div>

        My blogs:
        :
    </body>


</html>
