<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd"> 
<html> 
    <head> 
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/> 
        <title>Kitty Quotes</title> 
        <link href="/static/css/style.css" type="text/css" rel="stylesheet"></link> 
        <script type="text/javascript" src="/static/js/jquery.js"></script>
    </head> 
    <body> 
        <div>
            <div id="header">
            <h1>Kitty's Quotes</h1>        
        </div>
        <div id="photo">
            <img id="kitty" src="/static/img/kitty.jpg"/>
        </div>
        <div id="content">
            <h1 id="start_quote">"</h1>
                <blockquote>{{ quote  }}</blockquote>
            <h1 id="end_quote">"</h1>
        </div>
        <div id="footer">
        </div>
    </body>
</html>
