<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd"> 
<html> 
    <head> 
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/> 
        <title>Геннадий Злобин - Главная страница</title> 
        <script type="text/javascript" src="/static/js/jquery.js"></script> 
        <link href="2009.css" type="text/css" rel="stylesheet"></link> 
    </head> 
    <body> 
        <div>
            Email:
            <input type="text" name="email"/>
            Name:
            <input type="text" name="name"/>
            <input type="submit" value="Send"/>
        </div>
    </body>
</html>
